@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

.contain {
  font-size: 1.3rem; }

.splash {
  position: relative;
  width: 100%;
  height: 100vh; }

.nav {
  position: fixed;
  background: rgba(81, 83, 84, 0.6);
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  transition: all .5s;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  font-family: "Raleway", sans-serif; }
  .nav.nav--scroll {
    height: 10vh; }

.topbar {
  width: 100%;
  height: 40px;
  background: #ffa237;
  color: #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  padding: 0 2%;
  transition: all .5s;
  overflow: hidden; }
  .topbar.topbar--scroll {
    height: 0; }

.topbar__texts {
  display: flex;
  flex: 1;
  font-family: "Open Sans", sans-serif; }

.topbar__text {
  margin: 0 10px; }

.topbar__socials {
  display: flex;
  justify-content: space-around; }

.topbar__social {
  width: 1.7em;
  height: 1.7em;
  color: #fcfefc;
  background: transparent;
  font-size: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px; }
  .topbar__social:hover {
    background: rgba(155, 182, 163, 0.6);
    color: #FFA237; }

.logo {
  position: fixed;
  left: 10%;
  top: 5%;
  width: 150px;
  height: 127px;
  background: url(../images/logo.png);
  transition: all .5s; }
  .logo.logo--scroll {
    top: 0; }

.nav__items {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 7%; }

.nav__item {
  list-style-type: none;
  margin: 0 3%;
  color: #fcfefc; }
  .nav__item:after {
    content: '';
    width: 1em;
    height: 2px;
    background: #FFA237; }

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: url(../images/heroimg.jpg) no-repeat center center;
  background-size: cover; }

.hero__text {
  font-size: 2.5em;
  margin: 0;
  font-family: "Raleway", sans-serif; }

.hero__img {
  height: 80%;
  position: absolute;
  left: 60%;
  bottom: 0; }

.slice {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  background: #fcfefc; }
  .slice#portfolio-slice {
    padding: 0; }
  .slice.slice--two {
    background: #f1faf1; }

.services__contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem; }

.title {
  text-align: center;
  font-size: 1.7em;
  font-family: "Raleway", sans-serif; }

.title__sub {
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  width: 50%;
  margin: 0 auto 1.33em; }

.services {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.service__contain {
  width: 33%;
  position: relative;
  padding-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .service__contain .service:hover:before {
    transform: scale(1); }
  .service__contain .service:hover:after {
    border: 1px solid #FFA237; }
  .service__contain .service .service__text {
    color: white; }
  .service__contain .service .service__icon {
    color: #eee; }
    .service__contain .service .service__icon.website {
      animation: spin 1.5s linear infinite;
      transform-origin: left; }
    .service__contain .service .service__icon.social {
      animation: discuss1 2s ease-in 1s infinite; }
    .service__contain .service .service__icon.social.second {
      animation: discuss2 2s ease-out 1s infinite; }
  .service__contain .service .left--one {
    animation: talk 6s ease-in-out infinite; }
  .service__contain .service .left--two {
    animation: talk 6s ease-in-out 2s infinite; }
  .service__contain .service .left--three {
    animation: talk 6s ease-in-out 4s infinite; }
  .service__contain .service .right--one {
    animation: talk 6s ease-in-out 1s infinite; }
  .service__contain .service .right--two {
    animation: talk 6s ease-in-out 3s infinite; }
  .service__contain .service .right--three {
    animation: talk 6s ease-in-out 5s infinite; }
  .service__contain .service .red--one {
    animation: steadyblink 2s infinite; }
  .service__contain .service .red--two {
    animation: fastblink 3s infinite; }
  .service__contain .service .red--three {
    animation: slowblink 5s infinite; }
  .service__contain .service .green {
    opacity: 1; }

.service {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding-top: 50%;
  transform: translate(-50%, -50%);
  display: block; }
  .service:before {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    transform: scale(0);
    background: #FFA237;
    width: 100%;
    padding-top: calc(100% + 1px);
    transition: all .3s ease-out;
    display: block; }
  .service:after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: calc(100% - 1px);
    padding-bottom: 100%;
    border: 1px solid #878787;
    display: block; }

.service__text {
  position: absolute;
  bottom: 28%;
  color: #878787;
  width: 100%;
  font-size: 0.8em;
  font-family: "Raleway", sans-serif; }

.service__icon__contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 100%; }

.service__icon {
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: #FFA237; }
  .service__icon.social {
    font-size: 4rem;
    left: 35%;
    top: 36%; }
    .service__icon.social.second {
      right: 35%;
      top: 40%;
      transform: rotateY(180deg) translate(-50%, -50%); }

.icon__text {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  font-size: 0.15em;
  color: #6e6e6e;
  opacity: 0; }
  .icon__text.text--right {
    transform: rotateY(180deg) translate(50%, -45%); }

.server__row {
  position: absolute;
  right: 13%;
  display: flex;
  justify-content: space-between;
  width: 19%; }
  .server__row.row--one {
    top: 21%; }
  .server__row.row--two {
    top: 48%; }
  .server__row.row--three {
    top: 75%; }

.light {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
  .light.red {
    background: red; }
  .light.green {
    background: #5ace00; }

.portfolio__contain {
  width: 100%;
  display: flex;
  flex-direction: column; }

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.portfolio__item {
  position: relative;
  width: 25%;
  height: auto;
  display: flex;
  justify-content: center;
  transform: scale(0.95);
  transition: all .5s ease-in-out;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  .portfolio__item img {
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .portfolio__item:hover {
    transform: scale(1); }
    .portfolio__item:hover .item--over {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px; }
    .portfolio__item:hover .item__link, .portfolio__item:hover .item__enlarge {
      transform: scale(1); }
      .portfolio__item:hover .item__link:hover, .portfolio__item:hover .item__enlarge:hover {
        transform: scale(1.2);
        cursor: pointer;
        background: #FFA237;
        border: 3px solid #fcfefc; }

.item--over {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all .5s; }

.item__link, .item__enlarge {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFA237;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  transform: scale(0);
  transition: all .5s; }

.facts {
  width: 90%;
  display: flex;
  justify-content: center; }

.fact {
  width: 25%;
  height: 15em;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .fact:hover .fa-star.spin {
    animation: starspin 1.5s linear infinite reverse; }
  .fact:hover .signal--sm.blinking {
    animation: signal--sm 1s linear infinite; }
  .fact:hover .signal--lg.blinking {
    animation: signal--lg 1s linear infinite; }
  .fact:hover .cart {
    animation: rollout 1s; }

.fact__icon {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  overflow: hidden; }
  .fact__icon.stars {
    font-size: 1.6em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFA237; }
  .fact__icon .fa-star {
    filter: drop-shadow(1px 2px 1px #000);
    transform: scale(0); }
  .fact__icon .fa-star.in {
    transform: scale(1); }
  .fact__icon .star--one.reveal {
    animation: reveal1 2s cubic-bezier(0.755, -0.04, 0, 1.65); }
  .fact__icon .star--two.reveal {
    transform: scale(0);
    animation: reveal2 2s cubic-bezier(0.755, -0.04, 0.265, 1.51); }
  .fact__icon .star--three.reveal {
    transform: scale(0);
    animation: reveal3 2s cubic-bezier(0.755, -0.04, 0.265, 1.51); }
  .fact__icon .star--four.reveal {
    transform: scale(0);
    animation: reveal4 2s cubic-bezier(0.755, -0.04, 0.265, 1.51); }
  .fact__icon .star--five.reveal {
    transform: scale(0);
    animation: reveal5 2s cubic-bezier(0.755, -0.04, 0.265, 1.51); }
  .fact__icon .dots {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transform: translate(-50%, -50%); }
    .fact__icon .dots .dot {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background: #111; }

.dot--gone {
  display: none; }

.fact__icon--img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .fact__icon--img .tower {
    position: absolute;
    bottom: 0.6em;
    left: 25%;
    width: 50%;
    height: 60%;
    transform-origin: center bottom; }
    .fact__icon--img .tower.fallin {
      animation: fallin 1s ease-out forwards; }
    .fact__icon--img .tower.none {
      animation: none;
      bottom: 3.5em; }

.signal {
  position: absolute;
  top: 0.5em;
  border-radius: 50%;
  border-left: 2px solid #FFA237;
  border-right: 2px solid #FFA237;
  opacity: 0; }
  .signal.signal--sm {
    width: .7em;
    height: .7em; }
  .signal.signal--lg {
    top: 0em;
    width: 1.5em;
    height: 1.5em; }

.bell__contain {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  align-items: center; }

.bell {
  position: absolute;
  top: 22%;
  color: #FFA237; }
  .bell.slidein {
    animation: slidein 1s ease-out forwards;
    right: -1.5em; }

.none {
  animation: none; }

.table {
  position: absolute;
  top: 60%;
  right: 0;
  width: 80%;
  height: 6px;
  border-radius: 2px;
  background: black; }

.cart {
  animation: rollin 1s cubic-bezier(0.25, 0.25, 0.215, 0.925) forwards; }
  .cart.none {
    animation: none;
    transform: translateX(-300%); }

.fact__gift {
  width: 1.6rem;
  height: 1.6rem; }

.fact__text {
  text-align: center; }

.us__contain {
  width: 100%;
  display: flex; }

.left {
  width: 50%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .left .oneofus {
    width: 30%;
    height: 30%; }
    .left .oneofus img {
      width: 100%; }

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.3rem;
  padding-left: 6%; }
  .right .us__text {
    width: 85%;
    font-size: 1.5em; }

.footer-slice {
  background: #878787;
  color: #515354;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 0.8rem; }

@keyframes spin {
  0% {
    transform: rotateY(0deg) translate(-50%, -50%); }
  100% {
    transform: rotateY(360deg) translate(-50%, -50%); } }

@keyframes starspin {
  0% {
    transform: rotateY(0deg);
    filter: drop-shadow(1px 2px 1px #000); }
  50% {
    transform: rotateY(180deg);
    filter: drop-shadow(-1px 2px 1px #000); }
  100% {
    transform: rotateY(360deg);
    filter: drop-shadow(1px 2px 1px #000); } }

@keyframes talk {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slidein {
  0% {
    right: -1.5em;
    transform: skew(15deg); }
  50% {
    right: -0.42;
    transform: skew(15deg); }
  75% {
    right: 0.11;
    transform: skew(15deg); }
  100% {
    right: .67em;
    transform: skew(0deg); } }

@keyframes fallin {
  0% {
    bottom: 3.5em;
    transform: scaleY(1); }
  60% {
    transform: scaleY(1); }
  70% {
    bottom: 0.6em;
    transform: scaleY(0.8); }
  85% {
    bottom: 0.7em;
    transform: scaleY(1.1); }
  100% {
    bottom: 0.6em;
    transform: scaleY(1); } }

@keyframes rollin {
  0% {
    transform: translateX(-300%) skew(0); }
  100% {
    transform: translateX(0%) skew(0); } }

@keyframes signal--sm {
  0% {
    opacity: 0; }
  32% {
    opacity: 0; }
  33% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes signal--lg {
  0% {
    opacity: 0; }
  65% {
    opacity: 0; }
  66% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes fastblink {
  0% {
    opacity: 1; }
  10% {
    opacity: 0; }
  19% {
    opacity: 0; }
  24% {
    opacity: 1; }
  34% {
    opacity: 0; }
  65% {
    opacity: 0; }
  70% {
    opacity: 1; }
  80% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes steadyblink {
  0% {
    opacity: 1; }
  30% {
    opacity: 1; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes slowblink {
  0% {
    opacity: 0; }
  35% {
    opacity: 0; }
  40% {
    opacity: 1; }
  45% {
    opacity: 0; }
  90% {
    opacity: 0; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes reveal1 {
  0% {
    transform: scale(0); }
  20% {
    transform: scale(0); }
  51% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes reveal2 {
  0% {
    transform: scale(0); }
  25% {
    transform: scale(0); }
  56% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes reveal3 {
  0% {
    transform: scale(0); }
  30% {
    transform: scale(0); }
  61% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes reveal4 {
  0% {
    transform: scale(0); }
  35% {
    transform: scale(0); }
  66% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes reveal5 {
  0% {
    transform: scale(0); }
  40% {
    transform: scale(0); }
  71% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
