@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #010; }

.contain {
  font-size: 1.3rem; }

.splash {
  position: relative;
  width: 100%;
  height: 100vh; }

.nav {
  position: fixed;
  background: rgba(81, 83, 84, 0.6);
  height: 15vh;
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  transition: all 0.5s;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  font-family: "Raleway", sans-serif; }
  .nav.nav--scroll {
    height: 10vh; }

.topbar {
  width: 100%;
  height: 20px;
  background: #ffa237;
  color: #112;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.3rem;
  padding: 0 2%;
  transition: all 0.5s;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .topbar {
      height: 40px;
      font-size: 0.8rem; } }
  .topbar.topbar--scroll {
    height: 0; }

.topbar__texts {
  display: flex;
  flex: 1;
  font-family: "Open Sans", sans-serif; }

.topbar__text {
  margin: 0 10px; }

.topbar__socials {
  display: flex;
  justify-content: space-around; }

.topbar__social {
  width: 0.7em;
  height: 0.7em;
  color: #fcfefc;
  background: transparent;
  font-size: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px; }
  @media screen and (min-width: 768px) {
    .topbar__social {
      width: 1.7em;
      height: 1.7em; } }
  .topbar__social:hover {
    background: rgba(155, 182, 163, 0.6);
    color: #ffa237; }

.logo {
  position: fixed;
  left: 5%;
  top: 6%;
  width: 18.8vw;
  height: 16vw;
  background: url(../images/logo.png) no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.5s; }
  @media screen and (min-width: 768px) {
    .logo {
      left: 10%;
      top: 7%;
      width: 10.6vw;
      height: auto;
      padding-top: 9vw;
      justify-content: center; } }
  .logo.logo--scroll {
    top: 0; }

.nav__items {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 3%; }

.nav__item {
  height: 100%;
  position: relative;
  list-style-type: none;
  margin: 0 3%;
  color: #fcfefc;
  font-size: 0.6rem;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .nav__item {
      font-size: 1.3rem; } }
  .nav__item:after {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    content: '';
    height: 2px; }
  .nav__item:hover:after {
    background: #ffa237; }

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: url(../images/heroimg.jpg) no-repeat center center;
  background-size: cover;
  color: #fcfefc;
  padding-top: 20%; }
  @media screen and (min-width: 768px) {
    .hero {
      padding-left: 12%;
      justify-content: center;
      align-items: flex-start;
      padding-top: 0; } }

.hero__text__contain {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 80%; }
  @media screen and (min-width: 768px) {
    .hero__text__contain {
      font-size: 1.3rem;
      width: 25em;
      margin-top: 10%;
      align-items: flex-start; } }

.hero__text {
  position: relative;
  width: 100%;
  line-height: 1.4em;
  border-radius: 10px 10px 0 10px;
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  color: #fcfefc;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .hero__text {
      text-align: left; } }
  .hero__text:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 10px;
    z-index: -1; }
  h1.hero__text {
    margin-bottom: 0; }

.hero__button, .services__button {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  font-family: "Raleway", sans-serif;
  color: #fcfefc;
  padding: 10px 10px;
  margin-top: 10%;
  border-radius: 5px; }
  .hero__button:hover, .services__button:hover {
    background: #ea7d00;
    cursor: pointer;
    color: #fcfefc; }
  @media screen and (min-width: 768px) {
    .hero__button, .services__button {
      width: 75%; } }

.hero__img {
  width: 40%;
  height: 35vh;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  bottom: 0;
  display: flex;
  justify-content: center; }
  .hero__img img {
    height: 100%; }
  @media screen and (min-width: 768px) {
    .hero__img {
      right: 10%;
      transform: none;
      height: 75vh; } }

.slice {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5%;
  background: #fcfefc; }
  .slice.slice--two {
    background: #eee; }
  .slice#portfolio-slice {
    padding: 5% 0; }

.services__contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem; }

.title {
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-family: "Raleway", sans-serif; }
  .title:after {
    content: '';
    width: 25px;
    height: 4px;
    border-radius: 50%; }
  @media screen and (min-width: 768px) {
    .title {
      font-size: 1.7em;
      margin-bottom: 1.7em; } }

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.33em; }
  @media screen and (min-width: 768px) {
    .services {
      flex-direction: row;
      justify-content: space-around;
      width: 80%;
      margin: 0 auto; } }

.service__contain {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .service__contain + .service__contain {
    margin-top: 50px; }
  @media screen and (min-width: 768px) {
    .service__contain {
      width: 33%;
      padding-top: 20%; }
      .service__contain + .service__contain {
        margin-top: 0px; } }
  .service__contain .service:hover:before {
    transform: scale(1);
    border-radius: 10px; }
  .service__contain .service:hover:after {
    border: 1px solid #ffa237; }
  .service__contain .service:hover .service__text {
    color: #fcfefc; }
  .service__contain .service:hover .service__icon {
    color: #fcfefc; }
    .service__contain .service:hover .service__icon.website {
      animation: spin 1.5s linear infinite;
      transform-origin: left; }

@keyframes spin {
  0% {
    transform: rotateY(0deg) translate3d(-50%, -50%, 0); }
  100% {
    transform: rotateY(360deg) translate3d(-50%, -50%, 0); } }
  .service__contain .service:hover .left--one {
    animation: talk 6s ease-in-out infinite; }

@keyframes talk {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .service__contain .service:hover .left--two {
    animation: talk 6s ease-in-out 2s infinite; }

@keyframes talk {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .service__contain .service:hover .left--three {
    animation: talk 6s ease-in-out 4s infinite; }

@keyframes talk {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .service__contain .service:hover .right--one {
    animation: talk 6s ease-in-out 1s infinite; }

@keyframes talk {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .service__contain .service:hover .right--two {
    animation: talk 6s ease-in-out 3s infinite; }

@keyframes talk {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .service__contain .service:hover .right--three {
    animation: talk 6s ease-in-out 5s infinite; }

@keyframes talk {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .service__contain .service:hover .red--one {
    animation: steadyblink 2s infinite; }

@keyframes steadyblink {
  0% {
    opacity: 1; }
  30% {
    opacity: 1; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
  .service__contain .service:hover .red--two {
    animation: fastblink 3s infinite; }

@keyframes fastblink {
  0% {
    opacity: 1; }
  10% {
    opacity: 0; }
  19% {
    opacity: 0; }
  24% {
    opacity: 1; }
  34% {
    opacity: 0; }
  65% {
    opacity: 0; }
  70% {
    opacity: 1; }
  80% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }
  .service__contain .service:hover .red--three {
    animation: slowblink 5s infinite; }

@keyframes slowblink {
  0% {
    opacity: 0; }
  35% {
    opacity: 0; }
  40% {
    opacity: 1; }
  45% {
    opacity: 0; }
  90% {
    opacity: 0; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .service__contain .service:hover .green {
    opacity: 1; }

.service {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding-top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer; }
  .service:before {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    transform: scale(0);
    background: #ffa237;
    width: 100%;
    padding-top: calc(100% + 1px);
    transition: all 0.3s ease-out;
    display: block; }
  .service:after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: calc(100% - 1px);
    padding-bottom: 100%;
    border: 1px solid #666;
    display: block;
    border-radius: 10px; }

.service__text {
  position: absolute;
  bottom: 10%;
  width: 100%;
  font-size: 0.6em;
  font-family: "Raleway", sans-serif; }
  @media screen and (min-width: 768px) {
    .service__text {
      bottom: 20%;
      font-size: 0.8em; } }

.service__icon__contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 100%;
  font-size: 5rem; }
  @media screen and (min-width: 768px) {
    .service__icon__contain {
      font-size: 5rem; } }

.service__icon {
  font-size: 1em;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: #ffa237; }
  .service__icon.social {
    font-size: 0.7em;
    left: 35%;
    top: 36%; }
    .service__icon.social.second {
      right: 35%;
      top: 40%;
      transform: rotateY(180deg) translate(-50%, -50%); }

.icon__text {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  font-size: 0.18em;
  color: white;
  opacity: 0; }
  .icon__text.text--right {
    transform: rotateY(180deg) translate(50%, -45%); }

.server__row {
  position: absolute;
  right: 12.5%;
  display: flex;
  justify-content: space-between;
  width: 19%; }
  .server__row.row--one {
    top: 21%; }
  .server__row.row--two {
    top: 48%; }
  .server__row.row--three {
    top: 75%; }

.light {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
  .light.red {
    background: red; }
  .light.green {
    background: #5ace00; }

.title__sub {
  font-size: 0.7em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  width: 90%;
  margin: 2.33em auto;
  color: #666;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .title__sub {
      font-size: 1em;
      width: 50%;
      margin: 2.33em auto; } }

.services__button {
  width: 80%;
  margin: 0 auto 25px; }
  @media screen and (min-width: 768px) {
    .services__button {
      font-size: 1em;
      width: 15%; } }

.portfolio__contain {
  width: 100%;
  display: flex;
  flex-direction: column; }

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2% 0; }

.portfolio__item {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  transform: scale(0.95);
  transition: all 0.5s ease-in-out;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .portfolio__item {
      width: 25%;
      margin: none; } }
  .portfolio__item img {
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .portfolio__item:hover {
    transform: scale(1); }
    .portfolio__item:hover .item--over {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px; }
    .portfolio__item:hover .item__link,
    .portfolio__item:hover .item__enlarge {
      transform: scale(1);
      cursor: pointer;
      background: #ffa237;
      border: 3px solid #fcfefc; }
      .portfolio__item:hover .item__link:hover,
      .portfolio__item:hover .item__enlarge:hover {
        transform: scale(1.2); }
    .portfolio__item:hover .portfolio__info {
      opacity: 1; }

.item--over {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all 0.5s; }

.item__link,
.item__enlarge {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffa237;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  transform: scale(0);
  transition: all 0.5s; }

.facts {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .facts {
      flex-direction: row; } }

.fact {
  position: relative;
  font-size: 5vw;
  padding: 1vw;
  width: 20vw;
  padding-top: 20vw; }
  .fact .fact__contain {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center; }
    .fact .fact__contain:hover .fa-star.spin {
      animation: starspin 1.5s linear infinite reverse; }

@keyframes starspin {
  0% {
    transform: rotateY(0deg);
    filter: drop-shadow(1px 2px 1px #000); }
  50% {
    transform: rotateY(180deg);
    filter: drop-shadow(-1px 2px 1px #000); }
  100% {
    transform: rotateY(360deg);
    filter: drop-shadow(1px 2px 1px #000); } }
    .fact .fact__contain:hover .wifi {
      display: none; }
    .fact .fact__contain:hover .hover {
      animation: blinkin 2s linear infinite; }

@keyframes blinkin {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }
    .fact .fact__contain:hover .hover1 {
      animation: blinkin1 2s linear infinite; }

@keyframes blinkin1 {
  0% {
    opacity: 0; }
  24% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 1; } }
    .fact .fact__contain:hover .hover2 {
      animation: blinkin2 2s linear infinite; }

@keyframes blinkin2 {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
    .fact .fact__contain:hover .hover3 {
      animation: blinkin3 2s linear infinite; }

@keyframes blinkin3 {
  0% {
    opacity: 0; }
  74% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 1; } }
    .fact .fact__contain:hover .facebook.facebook--hover {
      color: #3b5998;
      animation: face--move 1s ease-in-out forwards; }

@keyframes face--move {
  0% {
    transform: translate3d(0, 0, 0) scale(0.6); }
  100% {
    transform: translate3d(3vw, 0.2vw, 0) scale(0.9); } }
    .fact .fact__contain:hover .twitter.twitter--hover {
      color: #1bb2e9;
      animation: twit--move 1s ease-in-out forwards; }

@keyframes twit--move {
  0% {
    transform: translate3d(0, 0, 0) scale(0.6); }
  100% {
    transform: translate3d(-3vw, 0.2vw, 0) scale(0.9); } }
    .fact .fact__contain:hover .dribbble.dribbble--hover {
      color: #f36798;
      animation: drib--move 1s ease-in-out forwards; }

@keyframes drib--move {
  0% {
    transform: translate3d(0, 0, 0) scale(0.6); }
  100% {
    transform: translate3d(3vw, -0.4vw, 0) scale(0.9); } }
    .fact .fact__contain:hover .linkedin.linkedin--hover {
      color: #0077b5;
      animation: link--move 1s ease-in-out forwards; }

@keyframes link--move {
  0% {
    transform: translate3d(0, 0, 0) scale(0.6); }
  100% {
    transform: translate3d(-3vw, -0.4vw, 0) scale(0.9); } }
    .fact .fact__contain:hover .cart.cart--hover {
      animation: rollout 2s ease-in forwards; }

@keyframes rollout {
  0% {
    transform: translate3d(0, 0, 0); }
  75% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(17vw, 0, 0); } }
    .fact .fact__contain:hover .fact__gift.gift--hover {
      animation: falldown 2s ease-in forwards; }

@keyframes falldown {
  0% {
    transform: translate3d(0, 0, 0) rotate(45deg); }
  55% {
    transform: translate3d(0, 12vw, 0) rotate(45deg); }
  75% {
    transform: translate3d(0, 12vw, 0) rotate(45deg); }
  100% {
    transform: translate3d(17vw, 12vw, 0) rotate(45deg); } }

.fact__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .fact__icon.stars {
    font-size: 2.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffa237; }
    @media screen and (min-width: 1280px) {
      .fact__icon.stars {
        font-size: 3vw; } }
  .fact__icon .fa-star {
    filter: drop-shadow(1px 2px 1px #000);
    transform: scale(0); }
  .fact__icon .fa-star.in {
    transform: scale(1); }
  .fact__icon .star--one.reveal {
    animation: reveal1 1.5s cubic-bezier(0.755, -0.04, 0, 1.65); }
  .fact__icon .star--two.reveal {
    animation: reveal2 1.5s cubic-bezier(0.755, -0.04, 0.265, 1.51); }
  .fact__icon .star--three.reveal {
    animation: reveal3 1.5s cubic-bezier(0.755, -0.04, 0.265, 1.51); }
  .fact__icon .star--four.reveal {
    animation: reveal4 1.5s cubic-bezier(0.755, -0.04, 0.265, 1.51); }
  .fact__icon .star--five.reveal {
    animation: reveal5 1.5s cubic-bezier(0.755, -0.04, 0.265, 1.51); }
  .fact__icon .dots {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transform: translate(-50%, -50%); }
    .fact__icon .dots .dot {
      width: 0.9vw;
      height: 0.9vw;
      border-radius: 50%;
      background: #111; }

.dot--gone {
  display: none; }

.fact__icon--img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.wifi {
  width: 7vw; }

.wifi--hover {
  width: 7vw;
  position: absolute; }
  .wifi--hover.hover {
    opacity: 0; }
  .wifi--hover.hover1 {
    opacity: 0; }
  .wifi--hover.hover2 {
    opacity: 0; }
  .wifi--hover.hover3 {
    opacity: 0; }

.computer {
  width: 8vw; }

.social--media {
  font-size: 1.7vw;
  position: absolute;
  transform: scale(0.6);
  animation: scale 1s ease-out forwards; }

@keyframes scale {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(0.6); } }
  .social--media.facebook {
    left: 4vw;
    top: 1vw; }
  .social--media.twitter {
    right: 4vw;
    top: 1vw; }
  .social--media.linkedin {
    right: 4vw;
    bottom: 2.5vw; }
  .social--media.dribbble {
    left: 4vw;
    bottom: 2.5vw; }
  .social--media.none {
    animation: none;
    transform: scale(0); }

.none {
  animation: none; }

.cart {
  animation: rollin 1s cubic-bezier(0.25, 0.25, 0.215, 0.925) forwards;
  width: 6vw;
  z-index: 2; }

@keyframes rollin {
  0% {
    transform: translate3d(-17vw, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
  .cart.none {
    animation: none;
    transform: translateX(-17vw); }

.fact__gift {
  position: absolute;
  top: -13vw;
  left: 9vw;
  width: 3.5vw;
  height: 3.5vw;
  background: url(../images/gift.jpg);
  background-position: center;
  background-size: cover;
  transform: rotate(45deg);
  border: 3px solid black;
  z-index: 1; }

.fact__text {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1.6vw; }

.whois {
  display: flex;
  flex-direction: column; }

.us__contain {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.left {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .left .oneofus {
    width: 30%;
    height: 30%; }
    .left .oneofus img {
      width: 100%; }
  @media screen and (min-width: 768px) {
    .left {
      width: 50%; } }

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.7rem;
  padding-left: 6%; }
  @media screen and (min-width: 768px) {
    .right {
      width: 50%;
      font-size: 1.3rem; } }

.us__contact {
  padding: 10%;
  text-align: center; }

.us__text {
  width: 100%;
  font-size: 1.2em; }

.clients {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .clients {
      flex-direction: row; } }

.client {
  width: 100%;
  padding: 1%;
  font-size: 1em;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out; }
  @media screen and (min-width: 768px) {
    .client {
      width: 20%; } }
  .client:hover {
    transform: scale(1);
    cursor: pointer; }

.client__pic {
  display: flex;
  justify-content: center;
  margin-bottom: 25px; }

.client__text {
  color: #666;
  font-style: italic; }

.client__name {
  color: gray;
  text-align: right;
  font-size: 0.8em; }

#contactform {
  width: 100%; }

#returnmessage {
  width: 80%;
  margin: 0 auto;
  font-size: 0.8em; }
  @media screen and (min-width: 768px) {
    #returnmessage {
      width: 30%; } }

.form__contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .form__contain {
      flex-direction: row; } }

.form__row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .form__row {
      width: 30%; } }
  .form__row.form--third .contact__info {
    display: flex;
    align-items: center; }
    .form__row.form--third .contact__info label {
      margin-bottom: 0; }
  .form__row.form--second:before {
    background: transparent; }
  .form__row.form--second:after {
    background: transparent; }
  @media screen and (min-width: 768px) {
    .form__row.form--second:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      width: 2px;
      height: 50%;
      background: #ffa237; }
    .form__row.form--second:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      width: 2px;
      height: 50%;
      background: #ffa237; } }

.check {
  margin-right: 10px; }

.contact__info {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 3% 0; }
  .contact__info.checkbox {
    flex-direction: row; }
  .contact__info label {
    margin-bottom: 5%; }

.required {
  position: absolute;
  top: 0;
  left: -1em;
  color: #c50000;
  font-size: 0.7em; }

#contactmessage {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; }
  #contactmessage label {
    position: relative; }
  #contactmessage #inquiry {
    width: 75%;
    min-height: 100px;
    margin: 5% 0; }
  #contactmessage button {
    width: 25%;
    font-size: 0.8em; }

.footer-slice {
  position: relative;
  background: #ffa237;
  color: #515354;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 0.8rem; }

.footer__direction {
  position: absolute;
  bottom: -0.7em;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  opacity: 0; }

.footer__logo {
  position: absolute;
  bottom: 20%;
  right: 5%;
  width: 75px;
  height: 75px;
  background: url(../images/logo.png) no-repeat;
  background-position: center;
  background-size: contain; }
  .footer__logo:hover .footer__direction {
    opacity: 1; }

@keyframes reveal1 {
  0% {
    transform: scale(0); }
  20% {
    transform: scale(0); }
  51% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes reveal2 {
  0% {
    transform: scale(0); }
  25% {
    transform: scale(0); }
  56% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes reveal3 {
  0% {
    transform: scale(0); }
  30% {
    transform: scale(0); }
  61% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes reveal4 {
  0% {
    transform: scale(0); }
  35% {
    transform: scale(0); }
  66% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes reveal5 {
  0% {
    transform: scale(0); }
  40% {
    transform: scale(0); }
  71% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
